html{
  overflow:hidden;
}
body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  height: 100vh;
  overflow:hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegular.eot'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold.eot'), url('../fonts/ProximaNovaBold.ttf') format('truetype'), url('../fonts/ProximaNovaBold.svg') format('svg');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaThin.eot'), url('../fonts/ProximaNovaThin.ttf') format('truetype'), url('../fonts/ProximaNovaThin.svg') format('svg');
    font-weight: 200;
    font-style: lighter;
}
a{
  text-decoration: none;
}
h1{
  font-family: "ProximaNova";
  font-weight: 600;
  text-align:center;
  font-size: 6vw;
  margin:0 0 1vh 0;
  color:#333333;
}
h2{
  font-family: "ProximaNova";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin:0 0 4vh 0;
  color: #333333;
  font-size:1.5vw;
}
h3{
  font-family: "ProximaNova";
  font-weight: 600;
  text-align: center;
  margin:0 0 2vh 0;
  color:#333333;
  font-size:1.5vw;
}
p{
  font-family: "ProximaNova";
  font-weight: 400;
  font-size:1.1vw;
  margin:4vh 0 8vh 0;
  text-align:justify;
  color:#666666;
}
main{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  margin:0;
  padding:0;
  height:100vh;
  overflow:hidden;
}
figure.portrait{
  height:100%;
  margin:0;
  padding:0;
  /*flex child*/
  flex:0 1 40%;
}
figure.portrait > img{
  height:100%;
  width:40vw;
  object-fit: cover;
  object-position:center center;
}
section#icon-box{
  position: absolute;
  top:8vh;
  left:0;
  height:auto;
  width:4vw;
  padding:10px 0;
  background-color: #33cc99;
  border-radius: 0 1.5vw 1.5vw 0;
  /*flex parent*/
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}
section#icon-box > a{
  width:2vw;
  margin:0.4vw;
}
article#description{
  padding:4vw 8vw;
  overflow: auto;
  height:100%;
  /*flex child*/
  flex:0 1 auto;
  /*flex parent*/
  display:flex;
  flex-flow:column;
  justify-content: flex-start;
}
article.text{
  flex:0 0 auto;
}
article.boxes{
  display:flex;
  flex-direction:row;
  width:100%;
  flex-wrap: wrap;
  flex:0 0 auto;
}

/*POPUP STYLING*/

/* Popup container */
article.popup {
    cursor: pointer;
    height:100%;
    padding: 5% 10%;
    overflow:hidden;
    /*flex child properties*/
    flex: 0 0 50%;
    /*flex parent properties*/
    display:flex;
    flex-flow:column;
    justify-content: center;
    background-color:#1c1d2f; /*dark blue**/
    border:1px solid white;
}
article.popup:hover{
  background-color:#33cc99; /*green*/
}
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 80vw;
    height:80vh;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8vh 8vw;
    position: fixed;
    z-index: 1;
    bottom: 10vh;
    left: 17.5vw;
    margin-left: -80px;
}

.popup .popuptext > h3{
  color:white;
  font-size: 3vw;
}

.popup .popuptext > p{
  color:white;
  text-align: center;
  font-size: 1.5vw;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*END POPUP STYLING*/

article.box{
  height:100%;
  padding: 0 45px;
  /*flex parent properties*/
  display:flex;
  flex-flow:column;
  justify-content: center;
}
article.popup > h3{
  color:white;
  text-decoration: none;
  text-align:left;
  font-size: 1.1vw;
}
article.popup > p{
  color:white;
  text-decoration: none;
  font-weight: 200;
  overflow:hidden;
  text-overflow: ellipsis;
  min-width: 0;
  text-align: left;
  margin:0;
}
section#more{
  flex:0 0 auto;
  display:flex;
  flex-flow: row;
  justify-content: flex-end;
}
section#more>a{
  font-family: "ProximaNova";
  font-weight: 400;
  color:#1c1d2f; /*dark blue**/
  font-size: 1.1vw;
  margin-top:1vh;
  margin-right:0.7vw;
}
section#more>a:visited{
  color:#1c1d2f; /*dark blue**/
}
section#more>a:hover{
  color:#33cc99;
}
article.contact{
  margin-top:7vh;
}
section.number{
  flex:0 0 auto;
  text-align: center;
}
section.number > a{
  font-family: "ProximaNova";
  font-weight: 200;
  text-align: center;
  font-size:3.5vw;
  font-weight: lighter;
  text-decoration: none;
  color: #66cc99;
  width:100%;
  margin:0 auto;
}





/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    main{
      flex-direction:column;
      height:auto;
    }
    h1{
      font-size: 12vw;
      margin:0 0 4vw 0;
      }
    h2{
      margin:0 0 4vw 0;
      font-size:4vw;
      }
    h3{
      margin:0 0 4vw 0;
      font-size:4.7vw;
    }
    p{
      font-size:4vw;
      margin:10vw 0;
    }
    figure.portrait{
      width:100vw;
      height:45vh;
      overflow: hidden;
    }
    figure.portrait > img{
      position:relative;
      top:calc(-10vh);
      width:100vw;
      height:auto;
    }
    section#icon-box{
      position:fixed;
      top:4vw;
      left:calc(100% - 17vw);
      width:17vw;
      border-radius: 1.5vw 0 0 1.5vw;
      /*flex parent*/
      display:flex;
      flex-flow:column;
      justify-content: center;
      align-items: center;
    }
    div#icon-box > a{
      width:7vw;
      margin:3vw;
    }
    div.text{
      padding: 60px 5vw;
      height:auto;
    }
    article#description{
      justify-content: flex-start;
      height:auto;
      overflow: auto;
      padding:50px;
    }
    article.boxes{
      overflow:auto;
      width:100vw;
      flex-wrap: nowrap;
      margin-left:-5vw;
      margin-right:-5vw;
      padding:0;
    }
    article.boxes > a{
      /*flex child properties*/
      flex: 0 0 75%;
      height:70vw;
    }
    article.box{
      /*flex parent properties*/
      display:flex;
      flex-flow:column;
      justify-content: center;
      height:100%;
    }
    article.box > h3{
      font-size:4vw;
    }
    article.box > p{
      font-size:3vw;
    }
    div#more{
      justify-content: center;
    }
    #more>a{
      font-size: 4vw;
      margin:2vw 0;    }
    .number>a{
      font-size:8vw;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

