*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

@font-face {
    font-family: "Work Sans";
    src: ("fonts//WorkSans-Light.otf") format("truetype");
}

p{
	font-family: "Work Sans", sans-serif;
	font-weight: lighter;
}

h1{
	font-size: 2em;
	font-family: "Work Sans", arial;
	font-weight: bolder;
	text-transform: uppercase;
}

h2{
	font-size: 1.5em;
	font-family: "Work Sans", arial;
	font-weight: bolder;
	color: white;
}

li{
	font-family: "Work Sans", sans-serif;
}

a{
	font-family: "Work Sans", sans-serif;
}

/************LARGE DEVICES ONLY**********/
@media (min-width: 925px) {

/* HEADER */

body {
	overflow-x: hidden;
	background-color: lightgray;
}
header{
	padding:0;
	margin:0;
}

.menubar{
	display:inline-block;
	background-color:white;
	height:50px;
	width:100%;
	background-color: #333333; /*mörkgrå*/
	margin-bottom:-4px;
	z-index: 1;
}

ul{
	transform: translate(-50%, -50%);
	position: relative;
	left: 50%;
	top:50%;
	overflow: hidden;
	list-style-type: none;
	display:table;
}

header li{
	display: inline;
	font-family:"Work Sans";
	padding: 0 13px 0 13px;
}

li a:link {
	text-decoration: none;
	color: lightgray;
	text-align: center;
	font-size: 0.8em;
	font-weight: bolder;
}

li a:visited{
	color: lightgray;
}

li a:hover, a:active {
	color:#9F5234;
}

.fullpic{

	height:92vh;
	background: #333333; /*mörkgrå*/

	
	/*background: -moz-linear-gradient(bottom, #A35438 0%, #678EAF 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(bottom, #A35438 0%, #678EAF 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to top, #A35438 0%, #678EAF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.blurpic {
	height:92vh;
	background-image: url('file:../img/work.jpg');
	background-size:cover;
	background-position: center center;
	opacity: 0.7;
}

.verticalcenter{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left:50%;
}

.verticalcenter img{
	max-height:50vh;
	max-width:50vw;
	margin-right:45vw;
	margin-top:70px;
}

.headtext{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 55%;
	left:62vw;
	background-image: url('file:../img/illustrator/pratbubbla.svg');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 50vw;
}

.headtext h1, h2{
	display: inline-block;
	color: #333333; /*mörkgrå*/

	width: 80%;
}

.headtext h1{
	padding-top:20px;
	font-size: 3vw;
	font-weight: bolder;
	padding-left: 13vw;
}

.headtext h2{
	padding:10px 10px 20px 13vw;
	font-size: 1vw;
	font-weight: normal;
}

.headtext a:link, a:visited{
	text-decoration: none;
	color: #7891AB;
	font-weight: normal;
	margin-left:auto;
	margin-right: auto;
}

.headtext a:hover, a:active {
	color:#9F5234;
}

.icon {
	transform: translate(-50%, -50%);
	position: absolute;
	left:50%;
	bottom:10px;
}

.icon img {
	max-height: 25px;
	display: inline-block;
	margin:0 5px 0 5px;
}

.icon a{
	text-decoration: none;
	display:inline-block;
	width:50px;
}

.orangebody{
	clear:both;
	position: relative;
	background-color: #C75243;/*ljusorange*/
	overflow:auto;
}

.orangebody h1{
	padding:60px 10% 30px 10%;
	text-align: center;
	color:white;
	font-size: 2.5em;
}
.orangebody h2{
	padding:10px 10% 60px 10%;
	text-align: center;
	color:white;
	font-size: 1em;
	font-weight: lighter;
	margin-left:0;
	width: auto;
}

/* 3-bildsmeny */
.picgrid {
	position:relative;
	float:left;
	width:33.33%;
	height:50vh;
	display:block;
	overflow:hidden;
	background-color:white;
}

.picgrid img {
	height: 100%;
	overflow:hidden;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left:50%;
	padding:50px 0 50px 0;
}

.picgrid h1{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 2.7em;
	opacity:0;
	margin:0;
}

.picgrid h1:hover{
	opacity:1;
	background-color: #333333; /*mörkgrå*/
	color:white;
}

.bluebody{
	clear:both;
	position: relative;
	background-color: #3b6d87; /*mörkblå*/
	overflow:auto;
}

.bluebody h1{
	padding:60px 0 30px 0;
	text-align: center;
	color:white;
	font-size: 2.5em;
}
.bluebody h2{
	padding:20px 20px 0 0;
	text-align: left;
	color:white;
	font-size: 1em;
	margin-left:0;
	width: auto;
}
.bluebody p{
	padding: 20px 0 60px 0;
	font-size: 0.9em;
	text-align: left;
	color:white;
	font-weight: lighter; 
}

.bluebody1{
	float:left; 
	margin: 10px 30px 0 15%; 
}
.bluebody1 img{
	width:80px;
	margin-top:15px;
}
.bluebody2{
	float:left;
	width:180px;
	margin: 0 20px 0 20px;
	font-color:white;
}
.bluebody2 p{
	font-weight: normal;
	padding-top:5px;
}

.bluebody3{
	float:left;
	padding: 20px 0 0 0; 
	width: calc(80% - 400px);
}
.bluebody3{
	padding:0;
}

/*--------------------------------------------------------------------*/
.whitebody{
	clear:both;
	position: relative;
	background-color: #C75243;/*ljusorange*/
	overflow:auto;
}

.whitebody h1{
	padding:60px 0 30px 0;
	text-align: center;
	color:white;
	font-size: 2.5em;
}
.whitebody h2{
	padding:20px 0 0 0;
	text-align: left;
	color:white;
	font-size: 1em;
	margin-left:0;
	width: auto;
}
.whitebody p{
	padding: 20px 0 60px 0;
	font-size: 0.9em;
	text-align: left;
	color:white;
	font-weight: lighter; 
}
.whitebody1{
	float:left; 
	margin: 19px 30px 0 15%; 
	height:80px;
	width:80px;
	background-color:white;
}
.whitebody1 img{
	width:70px;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left:50%;
}
.whitebody2{
	float:left;
	width:180px;
	margin: 0 20px 0 20px;
	font-color:white;
}
.whitebody2 p{
	font-weight: normal;
	padding-top:5px;
}

.whitebody3{
	float:left;
	padding: 20px 0 0 0; 
}
.whitebody3{
	padding:0;
	width: 30vw;
}

.calblock{
	float:left;
	margin:20px 40px 60px 20%;
	width: 80px;
}
.orangeblock{
	display:inline-block;
	width:80px;
	height: 20px;
	margin: 0;
	background-color: #C75243;/*ljusorange*/
}
.orangeblock > p{
	text-align:center;
	padding: 3px 0 0 0;
	color:white;
	font-weight: normal;
	font-size: 0.7em;
}
.whiteblock{
	display:inline-block;
	width:80px;
	height: 60px;
	margin: 0;
	background-color: white;
}
.whiteblock h1{
	text-align:center;
	padding: 5px 0 0 0;
	color: #C75243;/*ljusorange*/
	font-size: 2.5em;
}


.blogentry h2{
	padding-bottom: 0px;
	margin: 0;
}
.blogentry p{
	padding: 5px 15% 60px 0;
}

/* FOOTER */
footer{
	clear:both;
	background-color: #202020; /*Mörkgrå*/
	overflow:hidden;
}

.leftcolumn{
	width:33.33%;
	float:left;
}

.leftcolumn h2{
	text-align: left;
	margin: 60px 0 0 15vw;
	color:gray;
}

.leftcolumn p{
	text-align: left;
	margin: 10px 0 40px 15vw;
	color:gray;
}

.centercolumn{
	float:left;
	width:33.33%;
}

.centercolumn h2{
	text-align: center;
	margin: 60px 0 0 0;
	width:100%;
	color: gray;
}
.centercolumn p{
	text-align: center;
	margin: 10px 0 40px 0;
	color:gray;
}

.rightcolumn{
	width:33.33%;
	float:right;
}

.rightcolumn h2{
	text-align: right;
	margin: 60px 15vw 0 0;
	color:gray;
}

.rightcolumn p{
	text-align: right;
	margin: 110px 15vw 0 0;
	color: gray;
}
footer a:link, a:visited{
	text-decoration: none;
	color: gray;
	font-weight: normal;
	margin-left:auto;
	margin-right: auto;
}

footer a:hover, a:active {
	color:#9F5234;
}

} /* END LARGE DEVICES ONLY */
















/************SMALL DEVICES ONLY**********/
@media screen 
	and (max-width: 925px), screen and (-webkit-min-device-pixel-ratio:2){


body {
	overflow-x: hidden;
	background-color: lightgray;
}
header{
	padding:0;
	margin:0;
}

.menubar{
	display:inline-block;
	background-color:white;
	height:50px;
	width:100%;
	background-color: #333333; /*mörkgrå*/
	margin-bottom:-4px;
	z-index: 1;
}

ul{
	transform: translate(-50%, -50%);
	position: relative;
	left: 50%;
	top:50%;
	overflow: hidden;
	list-style-type: none;
	display:table;
}

header li{
	display: inline;
	font-family:"Work Sans";
	padding: 0 13px 0 13px;
}

li a:link {
	text-decoration: none;
	color: lightgray;
	text-align: center;
	font-size: 3vw;
	font-weight: bolder;
}

li a:visited{
	color: lightgray;
}

li a:hover, a:active {
	color:#9F5234;
}

.fullpic{
	height:92vh;
	background: #333333; /*mörkgrå*/
}

.blurpic {
	height:92vh;
	background-image: url('file:../img/work.jpg');
	background-size:cover;
	background-position: center center;
	opacity: 0.7;
}

.verticalcenter{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 32%;
	left:50%;
}

.verticalcenter img{
	max-height:40vh;
	max-width:40vw;
}

.headtext{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 70%;
	left:50%;
	background-image: url('file:../img/illustrator/pratbubbla_center.svg');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 50vw;
	max-height: 30vh;
}

.headtext h1, h2{
	display: inline-block;
	color: #333333; /*mörkgrå*/
	text-align: center;
}

.headtext h1{
	padding-top:40px;
	font-size: 4vw;
	font-weight: bolder;
	padding-left: 13vw;
}

.headtext h2{
	padding:10px 10px 20px 10px;
	font-size: 2vw;
	font-weight: normal;
}

.headtext a:link, a:visited{
	text-decoration: none;
	color: #7891AB;
	font-weight: normal;
	margin-left:auto;
	margin-right: auto;
}

.headtext a:hover, a:active {
	color:#9F5234;
}

.icon {
	transform: translate(-50%, -50%);
	position: absolute;
	left:50%;
	bottom:10px;
}

.icon img {
	max-height: 25px;
	display: inline-block;
	margin:0 5px 0 5px;
}

.icon a{
	text-decoration: none;
	display:inline-block;
	width:50px;
}

.orangebody{
	clear:both;
	position: relative;
	background-color: #C75243;/*ljusorange*/
	overflow:auto;
}

.orangebody h1{
	padding:60px 10% 30px 10%;
	text-align: center;
	color:white;
	font-size: 2.5em;
}
.orangebody h2{
	padding:10px 10% 60px 10%;
	text-align: center;
	color:white;
	font-size: 1em;
	font-weight: lighter;
	margin-left:0;
	width: auto;
}

/* 3-bildsmeny */
.picgrid {
	position:relative;
	float:left;
	width:33.33%;
	height:50vw;
	display:block;
	overflow:hidden;
	background-color:white;
}

.picgrid img {
	height: 80%;
	overflow:hidden;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 40%;
	left:50%;
	padding:40px 0 40px 0;
}

.picgrid h1{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	text-align: center;
	font-size: 3vw;
	opacity:0.5;
	padding-top:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	color: #333333; /*mörkgrå*/
}

.picgrid h1:hover{
	opacity:0.5;
	background-color: #333333; /*mörkgrå*/
	color:white;
}

.bluebody{
	clear:both;
	position: relative;
	background-color: #3b6d87; /*mörkblå*/
	overflow:auto;
}

.bluebody h1{
	padding:60px 15% 30px 15%;
	text-align: center;
	color:white;
	font-size: 2em;
}
.bluebody h2{
	padding:0;
	text-align: center;
	color:white;
	font-size: 1em;
	margin-left:0;
	width: auto;
}
.bluebody p{
	margin: 0 10% 0 10%;
	padding: 20px 0 60px 0;
	font-size: 0.9em;
	text-align: center;
	color:white;
	font-weight: lighter; 
}

.bluebody1{
	margin: 40px 0 0 0; 
}
.bluebody1 img{
	width:80px;
	transform: translate(-50%, -50%);
	left:50%;
	position:relative;
}
.bluebody2 p{
	font-weight: normal;
	padding: 0;
	text-align: center;
}


/*--------------------------------------------------------------------*/
.whitebody{
	clear:both;
	position: relative;
	background-color: #C75243;/*ljusorange*/
	overflow:auto;
}

.whitebody h1{
	padding:60px 0 30px 0;
	text-align: center;
	color:white;
	font-size: 2.5em;
}
.whitebody h2{
	padding:20px 0 0 0;
	text-align: left;
	color:white;
	font-size: 1em;
	margin-left:0;
	width: auto;
}
.whitebody p{
	padding: 20px 0 60px 0;
	font-size: 0.9em;
	text-align: left;
	color:white;
	font-weight: lighter; 
}
.whitebody1{
	float:left; 
	margin: 19px 30px 0 15%; 
	height:80px;
	width:80px;
	background-color:white;
}
.whitebody1 img{
	width:70px;
	transform: translate(-50%, -50%);
	position: relative;
	top: 50%;
	left:50%;
}
.whitebody2{
	float:left;
	width:180px;
	margin: 0 20px 0 20px;
	font-color:white;
}
.whitebody2 p{
	font-weight: normal;
	padding-top:5px;
}

.whitebody3{
	float:left;
	padding: 20px 0 0 0; 
}
.whitebody3{
	padding:0;
	width: 30vw;
}

.calblock{
	float:left;
	margin:20px 40px 60px 20%;
	width: 80px;
}
.orangeblock{
	display:inline-block;
	width:80px;
	height: 20px;
	margin: 0;
	background-color: #C75243;/*ljusorange*/
}
.orangeblock > p{
	text-align:center;
	padding: 3px 0 0 0;
	color:white;
	font-weight: normal;
	font-size: 0.7em;
}
.whiteblock{
	display:inline-block;
	width:80px;
	height: 60px;
	margin: 0;
	background-color: white;
}
.whiteblock h1{
	text-align:center;
	padding: 5px 0 0 0;
	color: #C75243;/*ljusorange*/
	font-size: 2.5em;
}


.blogentry h2{
	padding-bottom: 0px;
	margin: 0;
}
.blogentry p{
	padding: 5px 15% 60px 0;
}

/* FOOTER */
footer{
	clear:both;
	background-color: #202020; /*Mörkgrå*/
	overflow:hidden;
}

.leftcolumn{
	width:33.33%;
	float:left;
}

.leftcolumn h2{
	text-align: left;
	margin: 60px 0 0 15vw;
	color:gray;
}

.leftcolumn p{
	text-align: left;
	margin: 10px 0 40px 15vw;
	color:gray;
}

.centercolumn{
	float:left;
	width:33.33%;
}

.centercolumn h2{
	text-align: center;
	margin: 60px 0 0 0;
	width:100%;
	color: gray;
}
.centercolumn p{
	text-align: center;
	margin: 10px 0 40px 0;
	color:gray;
}

.rightcolumn{
	width:33.33%;
	float:right;
}

.rightcolumn h2{
	text-align: right;
	margin: 60px 15vw 0 0;
	color:gray;
}

.rightcolumn p{
	text-align: right;
	margin: 110px 15vw 0 0;
	color: gray;
}
footer a:link, a:visited{
	text-decoration: none;
	color: gray;
	font-weight: normal;
	margin-left:auto;
	margin-right: auto;
}

footer a:hover, a:active {
	color:#9F5234;
}
