*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

@font-face {
    font-family: "Work Sans";
    src: ("fonts//WorkSans-Light.otf") format("truetype");
}

p{
	font-family: "Work Sans", sans-serif;
	font-weight: lighter;
}

h1{
	font-size: 1.5em;
	font-family: "Work Sans", arial;
	font-weight: bolder;
	text-transform: uppercase;
}

h2{
	font-size: 1.5em;
	font-family: "Work Sans", arial;
	font-weight: bolder;
	color: #2A3C48;
}

li{
	font-family: "Work Sans", sans-serif;
}

a{
	font-family: "Work Sans", sans-serif;
}

/************LARGE DEVICES ONLY**********/
@media (min-width: 925px) {

/* HEADER */

body {
	overflow-x: hidden;
}

.fullpic{
	height:100vh;
}

ul{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left:50%;
	overflow: hidden;
	list-style-type: none;
	display:table;
	margin-top: 50px;
	position:relative;
	max-width: 100%;
}

hr{
	transform: translate(-50%, -50%);
	position: absolute;
	left:50%;
	overflow: hidden;
	width:600px;
	color:lightgray;
}

header li{
	display: inline;
	font-family:"Work Sans";
	padding: 20px;
	height:auto;
}

li a:link {
	text-decoration: none;
	color: #7891AB;
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
}

li a:visited{
	color: #7891AB; /*Ljusblå*/
}

li a:hover, a:active {
	color:#9F5234;
}

.verticalcenter{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left:50%;
}

.verticalcenter img{
	height:30vw;
	margin-right:45vw;
	margin-top:70px;
}

.verticalcenter h1, h2{
	display: inline-block;
	width: 70%;
	color: gray;
	margin-left:45%;
	width: 80%;
}

.verticalcenter h1{
	padding-top:50px;
	font-size: 3em;
	font-weight: bolder;
}

.verticalcenter h2{
	font-size: 1.2em;
	font-weight: lighter;
}

.verticalcenter a:link{
	text-decoration: none;
	color: #7891AB;
	font-weight: bold;
}

.verticalcenter a:hover, a:active {
	color:#9F5234;
}

.icon {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 95vh;
	margin-left:calc(50%);
}

.icon img {
	max-height: 25px; 
	width: auto;
	display: inline-block;
	background-color: gray;
	margin:0 5px 0 5px;
}

.icon img:hover {
	background-color: #9F5234; /*orange*/
	transition: 0.5s;
}

.icon a{
	text-decoration: none;
}

/* INTRO */
#darkbody {
	clear:both
	text-align: left;
	padding:60px 20% 60px 20%;
	background-color: #202020; /*Mörkgrå*/
	height: auto;
	overflow:auto;
	width:100%;
}

#darkbody h1 {
	color: #7891AB;
	padding-bottom: 30px;
}

#darkbody p {
	color:white;
	font-size: 1.1em;
}

/* 3-bildsmeny */
.picgrid {
	position:relative;
	float:left;
	width:33.33%;
	height:50vh;
	display:block;
	overflow:hidden;
}

.picgrid img {
	height: 100%;
	overflow:hidden;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left:50%;
}

.picgrid h1{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 2.7em;
	opacity:0;
	margin:0;
}

.picgrid h1:hover{
	opacity:1;
	background-color: #9F5234;
	color:white;
}

.bluebody{
	clear:both;
	background-color: #7891AB;
	color:white;
	height:400px;
}

.bluebody h1{
	padding:30px 20% 30px 20%;
}

.bluebody p{
	padding: 0px 20% 30px 20%;
	font-size: 1.1em;
}

.whitebody {
	clear:both;
	color:gray;
	height:400px;
}

.whitebody h1{
	padding:30px 20% 30px 20%;
}

.whitebody p{
	padding: 0px 20% 30px 20%;
	font-size: 1.1em;
}

/* FOOTER */
footer{
	clear:both;
	background-color: lightgray;
	overflow:hidden;
}

footer a:link, a:visited{
	text-decoration:none;
	color: #2A3C48;
	text-align: left;
}

footer a:hover, a:active {
	color:#9F5234;
}

footer p{
	display:inline-block;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.leftcolumn{
	width:33.33%;
	float:left;
	padding:60px 0 60px 15%;
	text-align: left;
}

.leftcolumn h2 {
	padding-bottom:40px;
	width: auto;
	position: relative;
	float: left;
}

.centercolumn{
	display: inline-block;
	width:33.33%;
	padding:60px 0 60px 0;
	text-align: center;
}

.centercolumn h2 {
	padding-bottom:40px;
	text-align: center;
}

.rightcolumn{
	width:33.33%;
	float:right;
	text-align: right;
	display: block;
	padding:110px 15% 60px 0;
	position: relative;
	top: auto;
	bottom: auto;
}

} /* END LARGE DEVICES ONLY */





/************SMALL DEVICES ONLY**********/
@media screen and (max-device-width: 1000px){

/*header*/

ul{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left:50%;
	overflow: hidden;
	list-style-type: none;
	display:table;
	margin-top: 50px;
	position:relative;
	max-width: 100%;
}

hr{
	transform: translate(-50%, -50%);
	position: absolute;
	left:50%;
	overflow: hidden;
	width:200px;
	color:lightgray;
	opacity: 0;
}

header li{
	display: inline;
	font-family:"Work Sans";
	padding: 20px;
	height:auto;
}

li a:link {
	text-decoration: none;
	color: #7891AB;
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
}

li a:visited{
	color: #7891AB; /*Ljusblå*/
}

li a:hover, a:active {
	color:#9F5234;
}

h2 a:visited{
	font-weight: normal; 
	text-decoration: none;
	color: #7891AB; /*Ljusblå*/
}

h2 a:hover, a:active {
	color:#9F5234;
}

.fullpic{
	width: 100%;
	height: auto;
}

.verticalcenter{
	overflow: hidden;
}

.verticalcenter a:link{
	text-decoration: none;
	color: #7891AB;
	font-weight: bold;
	margin-left:auto;
	margin-right: auto;
}

.verticalcenter a:hover, a:active {
	color:#9F5234;
}

.verticalcenter img{
	height:50vw;
	padding-top: 30px;
	position: relative;
	padding-left:25vw;
}

.fullpic h1{
	font-size: 3em;
	color:gray;
	font-weight: bolder;
	overflow:hidden;
	margin-top: 30px;
	text-align: center;
}

.fullpic h2{
	padding: 30px 60px 10px 60px;
	font-size: 1.2em;
	font-weight: lighter;
	color:black;
	text-align: center;
	overflow:hidden;
}

.icon {
	display:inline-block;
	overflow: hidden;
	margin-left: calc(50% - 86px);
	margin-top: 40px;
	margin-bottom: 10px;
}

.icon img {
	max-width: 25px;
	max-height:25px;
	display: inline-block;
	background-color: gray;
	margin:0 5px 0 5px;
}

.icon img:hover {
	background-color: #9F5234; /*orange*/
	transition: 0.5s;
}

.icon a{
	text-decoration: none;
}


/* INTRO */
#darkbody {
	clear:both
	text-align: left;
	padding:60px 20% 60px 20%;
	background-color: #202020; /*Mörkgrå*/
	height: auto;
	overflow:auto;
	width:100%;
}

#darkbody h1 {
	color: #7891AB;
	padding-bottom: 30px;
}

#darkbody p {
	color:white;
	font-size: 1.1em;
}

/* 3-bildsmeny */
.picgrid {
	position:relative;
	float:left;
	width:33.33%;
	height:50vw;
	display:block;
	overflow:hidden;
}

.picgrid img {
	height: 90%;
	overflow:hidden;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 40%;
	left:50%;
}

.picgrid h1{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	text-align: center;
	font-size: 2em;
	opacity:0.5;
	padding-top:90%;
	display:flex;
	align-items: center;
	justify-content: center;
	color: gray;
}

.picgrid h1:hover{
	opacity:0.5;
	background-color: #9F5234;
	color:white;
}

.bluebody{
	clear:both;
	background-color: #7891AB;
	color:white;
	height:400px;
}

.bluebody h1{
	padding:30px 20% 30px 20%;
}

.bluebody p{
	padding: 0px 20% 30px 20%;
	font-size: 1.1em;
}

.whitebody {
	clear:both;
	color:gray;
	height:400px;	
}

.whitebody h1{
	padding:30px 20% 30px 20%;
}

.whitebody p{
	padding: 0px 20% 30px 20%;
	font-size: 1.1em;
}

/* FOOTER */
footer{
	clear:both;
	text-align: left;
	background-color: lightgray;
	height: auto;
	overflow:hidden;
	max-width:100%;
	height:auto;
}

footer a:link, a:visited{
	text-decoration:none;
	color: #2A3C48;
	text-align: left;
}

footer a:hover, a:active {
	color:#9F5234;
}

footer h2 {
	padding-bottom:10px;
}

.leftcolumn{
	width:33.33%;
	float:left;
	display: block;
	padding:60px 0 60px 15%;
}

.centercolumn{
	display: inline-block;
	width:33.33%;
	padding:60px 0 60px 0;
	text-align: center;
}

.rightcolumn{
	width:33.33%;
	float:right;
	text-align: right;
	display: block;
	padding:110px 15% 60px 0;
	position: relative;
	top: auto;
	bottom: auto;
}

} /* END SMALL DEVICES ONLY */