@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegular.eot'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold.eot'), url('../fonts/ProximaNovaBold.ttf') format('truetype'), url('../fonts/ProximaNovaBold.svg') format('svg');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaThin.eot'), url('../fonts/ProximaNovaThin.ttf') format('truetype'), url('../fonts/ProximaNovaThin.svg') format('svg');
    font-weight: 200;
    font-style: lighter;
}


/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../img/status.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}


html{
  overflow:auto;
}
body{
  box-sizing: border-box;
  overflow:hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
  text-decoration: none;
}
h1{
  font-family: "ProximaNova";
  font-weight: 600;
  text-align:center;
  font-size: 6vw;
  margin:0 0 1vh 0;
  color:#333333;
}
h2{
  font-family: "ProximaNova";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin:0 0 4vh 0;
  color: #333333;
  font-size:1.5vw;
}
h3{
  font-family: "ProximaNova";
  font-weight: 600;
  text-align: center;
  margin:0 0 2vh 0;
  color:#333333;
  font-size:1.5vw;
}
p{
  font-family: "ProximaNova";
  font-weight: 400;
  font-size:1.1vw;
  margin:4vh 0 8vh 0;
  text-align:justify;
  color:#666666;
}
body{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin:0;
  padding:0;
  height:100vh;
  overflow:hidden;
}
figure#portrait{
  margin:0;
  padding:0;
  height:100vh;
  width:40vw;
  /*flex child*/
  flex:0 0 40%;
  overflow:hidden;
}
figure#portrait > img{
  min-height:100%;
  width:100%;
  object-fit: cover;
  object-position:center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; 
}
section#icon-box{
  position: absolute;
  top:8vh;
  left:0;
  height:auto;
  width:auto;
  background-color: #33cc99;
  /*flex parent*/
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
}
section#icon-box > a{
  width:4vw;
  padding:1vw;
}
article#talkbubble{
  z-index: 2;
  display:block;
  background-color:white;
  position:fixed;
  bottom:5vh;
  left: 5vw;
  padding: 2vw 3vw;
  text-align: center;
  content:"";
  width:30vw;
  visibility: visible;
}
article#talkbubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -1vw;
  left: calc(27vw / 2 - 1.5vw);
  border: 3vw solid;
  border-color: white transparent transparent white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

article#description{
  padding:4vw 8vw;
  overflow: auto;
  height:100%;
  /*flex child*/
  flex:0 1 auto;
  /*flex parent*/
  display:flex;
  flex-flow:column;
  justify-content: flex-start;
}
article.text{
  flex:0 0 auto;
}
article.boxes{
  display:flex;
  flex-direction:row;
  width:100%;
  flex-wrap: wrap;
  flex:0 0 auto;
}

/*POPUP STYLING*/

/* Popup container */
article.popup {
    cursor: pointer;
    padding: 4vh 4vw;
    overflow:hidden;
    /*flex child properties*/
    flex: 1 0 50%;
    /*flex parent properties*/
    display:flex;
    flex-flow:column;
    justify-content: center;
    background-color:#1c1d2f; /*dark blue**/
    border:1px solid white;
}
article.popup:hover{
  background-color:#33cc99; /*green*/
}
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.popup .popuptext > h3{
  color:white;
  font-size: 3vw;
}

.popup .popuptext > p{
  color:white;
  text-align: center;
  font-size: 1.5vw;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s
}


/* Add animation (fade in the popup) 
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
*/

article.popupbox{
  display:flex;
  flex-flow: column;
  justify-content: center;
  height:80vh;
  width:80vw;
  background-color: white;
  opacity: 1;
  margin:0;
  padding:10vw;
}


/*END POPUP STYLING*/

article.popup > h3{
  color:white;
  text-decoration: none;
  text-align:left;
  font-size: 1.1vw;
}
article.popup > p{
  color:white;
  text-decoration: none;
  font-weight: 200;
  overflow:hidden;
  text-overflow: ellipsis;
  min-width: 0;
  text-align: left;
  margin:0;
}
section#more{
  flex:0 0 auto;
  display:flex;
  flex-flow: row;
  justify-content: flex-end;
}
section#more>a{
  font-family: "ProximaNova";
  font-weight: 400;
  color:#1c1d2f; /*dark blue**/
  font-size: 1.1vw;
  margin-top:1vh;
  margin-right:0.7vw;
}
section#more>a:visited{
  color:#1c1d2f; /*dark blue**/
}
section#more>a:hover{
  color:#33cc99;
}
article.contact{
  margin-top:7vh;
}
section.number{
  flex:0 0 auto;
  text-align: center;
}
section.number > a{
  font-family: "ProximaNova";
  font-weight: 200;
  text-align: center;
  font-size:3.5vw;
  font-weight: lighter;
  text-decoration: none;
  color: #66cc99;
  width:100%;
  margin:0 auto;
  padding-bottom:5vh;
}





/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body{
      flex-direction:column;
      height:auto;
    }
    h1{
      font-size: 13vw;
      margin:0 0 4vw 0;
      }
    h2{
      margin:0 0 4vw 0;
      font-size:6vw;
      color:#797979;
      }
    h3{
      margin:0 0 4vw 0;
      font-size:6vw;
    }
    p{
      font-size:6vw;
      margin:10vw 0;
    }
    figure#portrait{
      height:50vh;
      width:100vw;
      overflow: hidden;
      transition: height 500ms;
    }
    figure#portrait > img{
      width:100vw;
    }
section#icon-box{
  top:8vh;
  left:calc(100vw - 17vw);
}
section#icon-box > a{
  width:17vw;
  padding:5vw;
}
article#talkbubble{
  visibility: hidden;
}
    article#description{
      flex:1 1 50%;
      justify-content: flex-start;
      height:auto;
      overflow: hidden;
      padding:5vw;
    }
    article.boxes{
      overflow:auto;
      width:100vw;
      margin-left:-5vw;
      margin-right:-5vw;
      padding:0;
    }

    /* Popup container */
    article.popup {
        /*flex child properties*/
        flex: 0 0 100%;
        border:1px solid white;
    }

    article.popup > h3{
      color:white;
      font-size: 5vw;
    }

    article.popup > p{
      color:white;
      text-align: left;
      font-size: 5vw;
    }
    section#more{
      justify-content: center;
    }
    section#more > a{
      font-size: 6vw;
      margin:2vw 0;  
      text-align: right;  
    }
    section.number > a{
      font-size:10vw;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

